*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
ul{list-style: none;}
html{

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
.header{
	border-bottom: 3px solid #BD9378;
	background-color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	position: sticky;
	top:0;
	z-index: 100;
	}
.header h2{
	font-family: 'Cinzel', serif;
	font-weight: 700;
	font-size: 64px;
	color: #3E3028;
	padding-right: 4em;
}
.menu ul li a h3{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 34px;
	color: #BD9378; 
	margin-left: 0.5em;
	margin-right: 1em;
}
.menu ul{
	display: inline-flex;
}

.dropdown{
	opacity: 0;
}
.dropdown ul{
	position: absolute;
	display: block;
	}

.dropdown ul li {
	background-color: white;
	text-align: left;
	min-width: 120px;
}
.dropdown ul li a{
	color: #3E3028;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 17px;
	padding:0 0 2em 1em;
}
.menu ul li:hover .dropdown{opacity: 1;}
.dropdown ul li:hover{
	border-bottom: 1.5px solid #3E3028;
}
.space{
	margin: 0 150px; 
}
.footer{
	flex: 0 0 auto;
	background-color:#bd9378;
	font-size: 20px;
	text-align: center;
}
.content{
	display: grid;
	grid-template-columns:repeat(auto-fit, minmax(300px,1fr));
	grid-gap: 15px 50px;
	margin: 8%;
}

.description{
	position: relative;
	text-align: center;
	font-weight: 400;
	font-size: 17px;
	z-index: 10;
}
